.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px) {

    html{
        font-size: 87.5%; /*precisa q fique em porcentagem para acompanhar o redimensionamento no celular. Se for colocar o valor bruto (14px), fica fixo.*/
    }

    .wrapper{
        grid-template-columns: 1fr;
    }
}